.overview-container {
  width: min(80vw, 800px);
  margin-bottom: 10vh;
  color: #8E151D;
  text-align: center;
  line-height: 1.6rem;
}

.bold {
  font-weight: bold;
}

.link {
  padding-top: 0.6rem;
  font-size: 0.9rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: bold;
  cursor: pointer;
}

.warning {
  color: #000;
  border: solid 1px #000;
  border-radius: 5px;
  display: inline-flex;
  padding: 0 0.6rem;
  margin-bottom: 2rem;
  white-space: pre-wrap;
  font-size: 0.9rem
}