.course-container {
  display: flex;
  width: min(80vw, 800px);
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: end;
}

.add-course-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  background-color: #fcf8f7;
  padding: 10vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.close-container {
  display: flex;

  mat-icon {
    cursor: pointer;
    position: absolute;
    right: 4vw;
    top: 4vh;
  }
}

.course-item {
  margin: 1rem 0;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fcf8f7;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    opacity: 0.4;
    cursor: unset;
  }

  .icon {
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    box-sizing: border-box;

    mat-icon {
      font-size: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
      color: #ff350d;
    }
  }
}

.add-button {
  margin-top: 2rem;
}

.info-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0;
  font-size: 0.9rem;

  mat-icon {
    padding-right: 0.2rem;
    color: #8E151D;
  }
}