<app-overview [courses]="activeCourses"></app-overview>
<div (click)="selectedCourse = null;" class="courses-container">
  <div class="button-container">
    <button (click)="toggleAddCourse();">Add course(s)</button>
  </div>
  <div class="info-container">
    <mat-icon>info</mat-icon>Click on a course to mark it as completed or to remove it.
  </div>
  <div *ngIf="activeCourses" class="course-container">
    <ng-container *ngFor="let course of activeCourses">
      <app-course-item
          class="course-item"
          [course]="course"
          [selected]="selectedCourse === course"
          (click)="selectedCourse = course; $event.stopPropagation()"
          (removeCourse)="removeCourse($event)"
          (courseUpdated)="courseUpdated()"
      >
      </app-course-item>
    </ng-container>
  </div>
  <div class="last-updated">
    Last updated: {{ lastUpdated | date: 'long'}} <span class="bold" (click)="getActiveCourses()"> (Update now) </span>
  </div>
</div>
<div class="add-course-container" [@slideIn]="addCourseOpen ? 'in' : 'out'">
  <app-all-course-list
      *ngIf="addCourseOpen"
      [activeCourses]="activeCourses"
      (addCoursesEvent)="addCourses($event)"
      (closeModalEvent)="closeModal()">
  </app-all-course-list>
</div>