:host {
  text-align: center;
}

.close-container {
  display: flex;

  mat-icon {
    cursor: pointer;
    position: absolute;
    right: 4vw;
    top: 4vh;
  }
}

.course-item {
  margin: 1rem 0;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: normal;
  text-align: center;

  &.active {
    opacity: 0.4;
    cursor: unset;
  }

  .icon {
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    box-sizing: border-box;

    mat-icon {
      font-size: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
      color: #8E151D;
    }
  }
}

.buttons {
  text-align: center;
  margin-top: 6rem;

  button {
    margin: 0.5rem 1rem;
  }
}

.bold {
  font-weight: bold;
}