<div class="close-container">
  <mat-icon (click)="closeModal()">close</mat-icon>
</div>
<div>
  <h4>Choose courses:</h4>
</div>
<ng-container *ngFor="let course of allCourses">
  <div class="course-item"
       (click)="!course.active && course.selected = !course.selected"
       [ngClass]="{'active': course.active}">
    {{course.name}} - <span class="bold">&nbsp;{{course.hours}}&nbsp;</span>hours
    <span class="icon" *ngIf="course.selected">
      <mat-icon>check_circle</mat-icon>
    </span>
  </div>
</ng-container>
<div class="buttons">
  <button (click)="closeModal();">Close</button>
  <button (click)="addCourses();">Add selected course(s)</button>
</div>